<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Books</title>
        <link href="https://fonts.googleapis.com/css?family=Hind:300,400,600" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
    {% for shelf in shelves %}
        <div class="shelf {{ shelf.title|replace(' ','-')|lower }}">
            <div class="shelf-title">
                <div>
                    <span>{{ shelf.title }}</span>&nbsp
                    {% if shelf.title == 'Read' %}<img src="images/up-arrow.png" />{% endif %}
                    {% if shelf.title == 'To-Read' %}<img src="images/down-arrow.png" />{% endif %}
                </div>
            </div>
            <div class="books">
            {% for book in shelf.books %}
                <div class="book">
                    <div class="thumbnail">
                        <img src="{{ book.image }}" />
                    </div>
                    <div class="content">
                        <h1>{{ book.title }}</h1>
                        <h2>by&nbsp{{ book.authors|join(', ') }}</h2>
                        {% if shelf.title == 'Read' %}
                        <img src="images/{{ book.rating }}-star.png" />
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </body>
</html>